<p>lobby works!</p>


<app-overlay-url 
*ngIf="overlayVisible"
[gameId]="ID" 
(close)="toggleOverlay()">
</app-overlay-url>



<div *ngIf="players$ | async as players">
  <div *ngFor="let p of players; let i = index">
    <input
      type="text"
      class="standartklasse"
      [disabled]="i !== currentPlayerIndex"
      [readonly]="i !== currentPlayerIndex"
      [ngModel]="i === currentPlayerIndex ? localNames[i] : p?.name"
      (ngModelChange)="
        i === currentPlayerIndex
          ? localNames[i] = $event
          : (p && p.id ? onNameChange($event, i, p.id) : null)
      "
      (blur)="i === currentPlayerIndex ? saveName(i, p?.id) : null"
    />
  </div>
</div>