<p>lobby works!</p>


<app-overlay-url 
*ngIf="overlayVisible"
[gameId]="ID" 
(close)="toggleOverlay()">
</app-overlay-url>



<div *ngIf="players$ | async as players">
  <div *ngFor="let p of players; let i = index">
    <input
      type="text"
      class="standartklasse"
      [disabled]="i !== currentPlayerIndex"
      [readonly]="i !== currentPlayerIndex"
      [ngModel]="p?.name"
      (ngModelChange)="p && onNameChange($event, i, p.id)"
      (blur)="p && i === currentPlayerIndex ? saveName(i, p.name) : null"
    />
  </div>
</div>