<div class="home-body">
    <div class="headline">
    <span class="headline-part drag text-glow" [class.animate]="dragAnimated">Drag</span>
    <span class="headline-part and text-glow">And</span>
    <span class="headline-part drop text-glow" [class.animate]="dropAnimated">Drop Me</span>
  </div>
    
   <p-dialog header="Start menu" [modal]="false" [(visible)]="visible" [style]="menuStyle"
  closable="false"
  draggable="false"
  styleClass="start-menu animate-slide"
  resizable="false"
  [transitionOptions]="'0ms'"
  (onShow)="onShow()"
 >
<p-button label="Lobby erstellen" class="glow-button" [style]="{width: '12rem', marginLeft: '-10px'}" (onClick)="startLobby()"></p-button>
   </p-dialog>
</div>


